    <main>
      <div class="container">
        <div class="row">
          <h4 class="col py-4"><span  class="bg-light">商品一覧</span></h4>
          <h4 class="col py-4 text-right">
            <%= link_to "商品追加", new_admin_item_path %></h4>
        </div>
        <table class="table table-sm border-secondary">
          <thead class="table-secondary">
            <tr>
              <th class="col-2 border-secondary">商品ID</th>
              <th class="col-3 border-secondary">商品名</th>
              <th class="col-2 border-secondary">税抜価格</th>
              <th class="col-3 border-secondary">ジャンル</th>
              <th class="col-2 border-secondary">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td><%= item.is_active_i18n %></td>
            </tr>
            <% end %>
        　</tbody>
        </table>
    　</div>
    </main>