<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <table class="table table-sm table-bordered border-dark">
          <thead class="table-dark text-center">
            <tr><th class="border border-dark">ジャンル検索</th></tr>
          </thead>
          <tbody class="table table-borderless">
            <% @genres.each do |genre| %>
              <tr class="mx-4">
                <td><%= genre.name %></td>
            　</tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <div class="col-lg-6 mt-md-4 mt-0 justify-content-center d-flex align-items-center">
      <div class="jumbotron">
        <p class="lead px-lg-5 px-0">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        <h4 class="mt-2">新着商品</h4>
      </div>
    </div>
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body text-center">
              <%= link_to public_item_path(item.id) do %>
              <%= attachment_image_tag item, :image, :fill, 100, 100, class:"h-100 w-100" %>
              <% end %>
              <h5 class="card-title text-left pl-3">
                <%= item.name %><br>
                ￥<%= item.price %>
              </h5>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="text-right mr-5 py-3">
      <%= link_to "<管理者画面全ての商品を見る>", admin_items_path %>
    </div>
  </div>
</main>