<main>
  <div class="container px-5">
    <div class="row">
      <h4 class="col">管理者ログイン</h4>
    </div>
      <div class="row justify-content-center">
      <table class="table table-md table-borderless">
          <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
          <tr class="form-group">
            <th><%= f.label :email ,"メールアドレス", class:"col-sm-8 col-form-label" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
          </tr>
          <tr class="form-group">
              <th><%= f.label :password,"パスワード", class:"col-sm-8 col-form-label" %></th>
              <td><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></td>
          </tr>
          <tr class="actions text-center">
              <th colspan="2"><%= f.submit "ログイン", class: "btn btn-primary w-25" %></th>
          </tr>
        <% end %>
        </table>
        </div>
    </div>
  </div>
</main>
