<main>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="row">
      <h4 class="col">ログイン</h4>
    </div>
    <div class="row">
      <p class="col">会員の方はこちらからログイン</p>
    </div>
    <div class="row justify-content-center">
      <table class="table table-md table-borderless">
          <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
          
          <tr class="form-group">
            <th><%= f.label :email ,"メールアドレス", class:"col-sm-8 col-form-label" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
          </tr>
          <tr class="form-group">
              <th><%= f.label :password,"パスワード", class:"col-sm-8 col-form-label" %></th>
              <td><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></td>
          </tr>
          <tr class="actions text-center">
              <th colspan="2"><%= f.submit "ログイン", class: "btn btn-primary w-25" %></th>
          </tr>
        <% end %>
        </table>
        </div>
      <div class="row">
        <div class="col py-2">会員登録がお済みでない方</div></div>
      <div class="row">
        <div class="col py-2 pl-5"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください</div>
    </div>
  </div>
</main>