<main>
  <div class="container">
      <div class="row">
        <h4 class="col py-4"><span  class="bg-light">注文情報確認</span></h4>
      </div>
      <div class="row">
          <div class="col-8">
     
      <table class="table table-md table-bordered border-dark ">
        <thead class="table-secondary" >
          <tr>
            <th class="col-6">商品名</th>
            <th class="col-2">単価</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="h5">
              <%= attachment_image_tag cart_item.item, :image, class:"col-4" %><%= cart_item.item.name %>
            </td>
            <td  class="h5">
              <%= cart_item.item.add_tax_price.to_s(:delimited) %>
            </td>
            <td  class="h5">
              <%= cart_item.amount %>
            </td>
            <td  class="h5">
              <%= cart_item.sub_total.to_s(:delimited) %>円<% @sum += cart_item.sub_total %></td>
           </tr>
          <% end %>
      　</tbody>
      </table>
      </div>
      <div class="col-4 py-4 text-right">
          <table class="table table-bordered border-primary text-center">
           <tr>
            <th class="table-secondary">送料</th>
            <td class="h5"><%= @sum.to_s(:delimited) %> 円</td>
            </tr>
            <tr>
            <th class="table-secondary">商品合計</th>
            <td class="h5"><%= @sum.to_s(:delimited) %> 円</td>
            </tr>
            <tr>
            <th class="table-secondary">請求金額</th>
            <td class="h5"><%= @sum.to_s(:delimited) %> 円</td>
            </tr>
          </table>
        </div>
        </div>
      <div class="row">
        <div class="col-8 mr-auto text-left">
          <table class="table table-borderless">
           <tr>
            <th class="col-3 text-center h4">支払方法</th>
            <td class="col-9 text-left h5"><%= @sum.to_s(:delimited) %> 円</td>
            </tr>
            <tr>
            <th class="col-3 text-center h4">お届け先</th>
            <td class="col-9 text-left h5"><%= @sum.to_s(:delimited) %> 円</td>
            </tr>
          </table>
          
        </div>
        
      </div>
      <div class="row justify-content-center py-2">
        <%= link_to "createメソッドのsubmit処理する記述へ", new_public_order_path, class: "btn btn-lg btn-success" %>
      </div>
        
      </div>
  </div>　
</main>