<main>
  <div class="container">
    <div class="row">
      <h4 class="col">注文情報入力</h4>
    </div>
    <%= form_with model:@order, url:confirm_public_orders_path, local: true do |f| %>
    <div class="row">
      <%= f.label :payment_method, "支払方法", class:"form-check-label h5" %>
    </div>
    <div class="row py-2 ml-3">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    </div>
    <div class="row py-2 ml-3">
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
</div>
    <div class="row">
      <%= f.label :address, "お届け先", class:"form-check-label h5" %> 
    </div>
    <div class="row py-2 ml-3">
      
      <%= f.radio_button :select_address, "0" %>  
      <%= f.label :select_address, "ご自身の住所", class:"col-sm-12 col-form-label" %>
        〒<%= current_customer.postal_code %><%= current_customer.address %><br>
        <%= current_customer.last_name %><%= current_customer.first_name %>
    </div>
    <div class="row py-2 ml-3">
      <%= f.radio_button :select_address, "1" %>
      <%= f.label :select_address, "登録済み住所から選択", class:"col-sm-12 col-form-label" %>
      <%= f.select :address_id, options_from_collection_for_select(Address.where(customer_id: current_customer.id), :id, :full_address), class:"form-control" %>
      
    </div>
    <div class="row py-2 ml-3">
      <%= f.radio_button :select_address, "2" %>
      <%= f.label :select_address, "新しいお届け先", class:"col-sm-12 col-form-label" %>
       <div class="row">
          <tr class="form-group">
            <th class="col-4"><%= f.label :postal_code ,"郵便番号(ハイフンなし)", class:"col-sm-12 col-form-label" %></th>
            <td class="col-3"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-control" %></td>
          </tr>
          <tr class="form-group">
            <th class="col-4"><%= f.label :address ,"住所", class:"col-sm-12 col-form-label" %></th>
            <td class="col-8"><%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control" %></td>
          </tr>
          <tr class="form-group">
            <th class="col-4"><%= f.label :name ,"宛名", class:"col-sm-12 col-form-label" %></th>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %></td>
          </tr>
    </div>
      
    </div>
           <br><%= f.submit "新規登録", class: "btn btn-success" %>
        <% end %>
    
    
    </div>
  </div>
</main>