<main>
  <div class="container px-sm-0">
    <div class="row">
      <div class="col-lg-2 col-12">
        <table class="table table-sm table-bordered border-dark">
          <thead class="table-dark text-center">
            <tr><th class="border border-dark">ジャンル検索</th></tr>
          </thead>
          <tbody class="table table-borderless">
            <% @genres.each do |genre| %>
              <tr class="mx-4">
                <td><%= genre.name %></td>
            　</tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-5 col-sm-12 text-center pt-5">
        <%= attachment_image_tag @item, :image, :fill, 300, 200 %>
      </div>
      <div class="col-md-5 col-sm-12 px-3 pt-5">
        <h1><strong><%= @item.name %></strong></h1>
        <h5 class="h-25 py-2"><%= @item.introduction %></h5>
        <p><font size="+3">￥<%= @item.add_tax_price.to_s(:delimited) %></font>(税込)</p>
        <%= form_with model:@cart_item, url:public_cart_items_path, local: true do |f| %>
          <div class="form-row align-items-center">
            <div class="col-6"><%= f.select :amount, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10}, { include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
            </div>
            <%= f.hidden_field :item_id,value: @item.id %>
            <%= f.hidden_field :customer_id,value: current_customer.id %>
            <div class="col-6"><%= f.submit "カートに入れる", class: "btn btn-success" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>